<form>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="{{placeHolderTxt}}"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-icon color="warn" matSuffix>search</mat-icon>

    <mat-autocomplete #auto="matAutocomplete">   <!--(optionSelected)="getSelected($event.option.value)">
      <!--<mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->

      <span *ngIf="sampleCount > 0"> <span><b>Samples</b></span><span style="font-size:x-small"> Count({{sampleCount}})</span></span>
      <mat-option *ngFor="let option of sampleOptions" (onSelectionChange)="selectedChanged('sample', option, option.sampleId)">
        {{option.sampleId}}
      </mat-option>


      <span *ngIf="geneCount > 0"><span><b>Genes</b> </span><span style="font-size:x-small"> Count({{geneCount}})</span></span>
      <mat-option *ngFor="let option of geneOptions" (onSelectionChange)="selectedChanged('gene', option, option.symbol)">
        {{option.symbol}}
      </mat-option>


      <span *ngIf="strainCount > 0"> <span><b>Strains</b></span><span style="font-size:x-small"> Count({{strainCount}})</span></span>
      <mat-option *ngFor="let option of strainOptions" (onSelectionChange)="selectedChanged('strain', option, option.name)">
        {{option.name}}
      </mat-option>


      <span *ngIf="phenotypeCount > 0"> <span><b>Phenotypes</b></span><span style="font-size:x-small"> Count({{phenotypeCount}})</span></span>
      <mat-option *ngFor="let option of phenotypeOptions" (onSelectionChange)="selectedChanged('phenotype', option, option.mpTermName)">
        {{option.mpTermName}}
      </mat-option>


    </mat-autocomplete>


  </mat-form-field>

</form>
