<div class="row">
  <div class="col-md-3">
    <mat-form-field>
      <mat-label>Search for variants by</mat-label>
      <mat-select placeholder="Search by" disableOptionCentering [(value)]="selectedSearchBy" (selectionChange)="reset()">
        <mat-option value="gene">Gene Symbol</mat-option>
        <mat-option value="region">Genomic Region</mat-option>
        <mat-option value="hgvs">HGVS</mat-option>
        <mat-option value="mvarId">MVAR Id</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedSearchBy === 'region'" class="col-md-6">
    <div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Chromosome</mat-label>
            <mat-select [(value)]="chr" disableOptionCentering>
              <mat-option *ngFor="let chr of chromosomes" (onSelectionChange)="setChromosome(chr.value, $event)"
                          [value]="chr.value">{{chr.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input [disabled]="selectedChr === 'All'" numbersOnly matInput placeholder="Start Position"
                   [(ngModel)]="startPos">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input [disabled]="selectedChr === 'All'" numbersOnly matInput placeholder="End Position"
                   [(ngModel)]="endPos">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedSearchBy === 'gene'" class="col-md-6">

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="{{placeHolderTxt}}"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-icon color="warn" matSuffix>search</mat-icon>

          <mat-autocomplete #auto="matAutocomplete">

            <span *ngIf="geneCount > 0"><span><b>Genes</b> </span><span style="font-size:x-small"> Count({{geneCount}})</span></span>
            <mat-option *ngFor="let option of geneOptions" (onSelectionChange)="selectedChanged('gene', option, option.symbol)">
              {{option.symbol}}
            </mat-option>

          </mat-autocomplete>

        </mat-form-field>
        <mat-hint *ngIf="showHint">E.g.
          <a mat-button class="nav-link active"
          (click)="selectedChanged('gene', {'symbol':'Xkr4'}, 'Xkr4')">Xkr4</a>
        </mat-hint>
  </div>


  <div *ngIf="selectedSearchBy === 'hgvs'" class="col-md-6">

    <mat-form-field class="example-full-width">
      <input type="text" aria-label="Number" matInput [(ngModel)]="hgvs">
    </mat-form-field>
    <mat-hint *ngIf="showHint">E.g.
      <a mat-button class="nav-link active"
          (click)="searchByHGVS('g.3200991G>A')">g.3200991G>A</a>
    </mat-hint>

  </div>
  <div *ngIf="selectedSearchBy === 'mvarId'" class="col-md-6">
    <mat-form-field class="example-full-width">
      <input type="text" aria-label="Number" matInput [(ngModel)]="mvarId">
    </mat-form-field>
    <mat-hint *ngIf="showHint">E.g.
      <a mat-button class="nav-link active"
          (click)="searchByMVARid('MCA_7154')">MCA_7154</a>
    </mat-hint>
  </div>

  <div *ngIf="selectedSearchBy === 'region'" class="col-md-3">
    <button class="search_button" mat-raised-button  (click)="searchByPosition()">Search</button>
  </div>
  <div *ngIf="selectedSearchBy === 'hgvs'" class="col-md-3">
    <button class="search_button" mat-raised-button (click)="searchByHGVS()">Search</button>
  </div>
  <div *ngIf="selectedSearchBy === 'mvarId'" class="col-md-3">
    <button class="search_button" mat-raised-button (click)="searchByMVARid()">Search</button>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <mat-chip-list #chipList aria-label="Search criteria selection">
      <mat-chip *ngFor="let searchTerm of searchCriteria.selectedItems" [selectable]="selectable"
                [removable]="removable" (removed)="remove(searchTerm)">
        {{searchTerm.selectedType}} : {{searchTerm.displayedValue}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="searchCriteria.chr" [selectable]="selectable"
                [removable]="removable" (removed)="removeRegion()">
            region : {{searchCriteria.chr}}:{{searchCriteria.startPos}}-{{searchCriteria.endPos}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>


<div *ngIf="showFilters">

    <div class="row">
      <div class="col-md-12">
        <span class="pull-right">
          <a mat-button class="nav-link active" (click)="updateSearch()">Refresh
            <i class="material-icons">refresh</i>
            <div class="ripple-container"></div>
          </a>
          <a mat-button class="nav-link active" (click)="showFilterOptions()">Hide
            <i class="material-icons">expand_less</i>
            <div class="ripple-container"></div>
          </a>
        </span>
      </div>
    </div>

    <!-- Variant type -->
    <div class="row">
      <div class="col-md-12">
        <section class="section">
          <label class="mat-checkbox-layout"><b>Variant type:</b></label>
          <mat-checkbox class="check" [(ngModel)]="varTypeSNP"
                        (change)="onSearchCriteriaChange('varType', 'SNP')">Point mutation</mat-checkbox>
          <mat-checkbox class="check" [(ngModel)]="varTypeINS"
                        (change)="onSearchCriteriaChange('varType', 'INS')">Insertion </mat-checkbox>
          <mat-checkbox class="check" [(ngModel)]="varTypeDEL"
                        (change)="onSearchCriteriaChange('varType', 'DEL')">Deletion</mat-checkbox>
        </section>
      </div>
    </div>

  <!-- Impact -->
  <div class="row">
    <div class="col-md-6">
      <section class="section">
        <label class="mat-checkbox-layout"><b>Impact:</b> </label>
        <mat-checkbox class="check" [(ngModel)]="varImpactHIGH"
                      (change)="onSearchCriteriaChange('varImpact', 'HIGH')">High</mat-checkbox>
        <mat-checkbox class="check" [(ngModel)]="varImpactMODERATE"
                      (change)="onSearchCriteriaChange('varImpact', 'MODERATE')">Moderate</mat-checkbox>
        <mat-checkbox class="check" [(ngModel)]="varImpactMODIFIER"
                      (change)="onSearchCriteriaChange('varImpact', 'MODIFIER')">Modifier</mat-checkbox>
        <mat-checkbox class="check" [(ngModel)]="varImpactLOW"
                      (change)="onSearchCriteriaChange('varImpact', 'LOW')">Low</mat-checkbox>
      </section>
    </div>
  </div>

  <!-- Consequence -->
  <div class="row">
      <a mat-button class="nav-link active" (click)="showConsequenceList()"> <b>Molecular Consequence/Functional Class/Variant Effect</b>
        <i *ngIf="showConsequence" class="material-icons">expand_less</i>
        <i *ngIf="! showConsequence" class="material-icons">expand_more</i>
        <div class="ripple-container"></div>
      </a>
      <div *ngIf="showConsequence" class="col-md-12">
        <section>
          <span>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'stop_gained')">Stop gained</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'stop_lost')">Stop lost</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'stop_retained_variant')">Stop retained</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'frameshift')">Frameshift</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'inframe_insertion')">Inframe insertion</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'disruptive_inframe_insertion')">Disruptive inframe insertion </mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'inframe_deletion')">Inframe deletion</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'disruptive_inframe_deletion')">Disruptive inframe deletion</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'missense_variant')">Missense</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'start_lost')">Start lost</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'synonymous_variant')">Synonymous</mat-checkbox>
          </span>
        </section>
      </div>
  </div>

  <!-- Variant Region -->
  <div class="row">
    <a mat-button class="nav-link active" (click)="showVarRegionList()"> <b>Variant Region</b>
      <i *ngIf="showVarRegion" class="material-icons">expand_less</i>
      <i *ngIf="! showVarRegion" class="material-icons">expand_more</i>
      <div class="ripple-container"></div>
    </a>
    <div *ngIf="showVarRegion" class="col-md-12">
      <section>
          <span>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', '3_prime_UTR_exon_variant')">3 prime UTR exon</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', '3_prime_UTR_intron_variant')">3 prime UTR intron</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', '5_prime_UTR_exon_variant')">5 prime UTR exon</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', '5_prime_UTR_intron_variant')">5 prime UTR intron</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'non_coding_transcript_intron_variant')">Non coding transcript intron</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'coding_transcript_intron_variant')">Coding transcript intron</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'non_coding_transcript_exon_variant')">Non coding transcript exon</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'splice_region_variant')">Splice region</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'splice_donor_variant')">Splice donor</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'splice_acceptor_variant')">Splice acceptor</mat-checkbox>
              <mat-checkbox class="check"
                          (change)="onSearchCriteriaChange('consequence', 'downstream_gene_variant')">Downstream gene</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'upstream_gene_variant')">Upstream gene</mat-checkbox>
              <mat-checkbox class="check"
                            (change)="onSearchCriteriaChange('consequence', 'intergenic_variant')">Intergenic</mat-checkbox>
          </span>
      </section>
    </div>
  </div>

    <!-- Strains -->
    <div *ngIf="searchType === 'variant-strain'" class="row">
      <a mat-button class="nav-link active" (click)="showStrainsList()"> <b>Strains</b>
        <i *ngIf="showStrains" class="material-icons">expand_less</i>
        <i *ngIf="! showStrains" class="material-icons">expand_more</i>
        <div class="ripple-container"></div>
      </a>
      <a *ngIf="showStrains" mat-button class="nav-link active" (click)="clearAllStrains()">Clear all strains
        <i class="material-icons">unpublished</i>
      </a>
      <a *ngIf="showStrains" mat-button class="nav-link active" (click)="selectAllStrains()">Select all strains
        <i class="material-icons">check_circle</i>
      </a>
      <div *ngIf="showStrains" class="col-md-12">
        <section>
          <span *ngFor="let strain of seqStrains" >
            <mat-checkbox class="check" [checked]="isStrainChecked(strain.strain)"
                          (change)="onStrainChange(strain)">{{strain.strain}}
            </mat-checkbox>
          </span>

        </section>

      </div>
    </div>


</div>

