<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h3>Sample: {{sample.sampleId}}</h3>
    </div>
    <!--<div class="col-lg-6 col-md-6">-->
                <!--<span class="pull-right align-content-end">-->
                    <!--<a mat-button class="nav-link active" (click)="closeDialog()">-->
                      <!--<i class="material-icons">close</i> Close-->
                      <!--<div class="ripple-container"></div>-->
                    <!--</a>-->
                <!--</span>-->
    <!--</div>-->
  </div>
  <app-sample-edit [sample]="sample" (closeDialogEvent)="close()"></app-sample-edit>
</div>
