  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">

          <div class="card-body">
            <div>
              <div class="row">
                <div class="col-md-4">
                  <h4>Properties</h4>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <span class="pull-right">
                      <button mat-button [disabled]="! isUserLoggedIn" class="nav-link active" (click)="openEditDialog()" matTooltip="Edit sample">
                        <i class="material-icons">create</i> Edit
                      </button>
                  </span>
                </div>
              </div>
            <div class="row">
              <div class="col-md-4">
                <b>Sample ID:</b> {{sample.sampleId}}
              </div>
              <div class="col-md-4">
                <b>Sample Name</b> {{sample.sampleName}}
              </div>
              <div class="col-md-4">
                <b>Study:</b> {{sample.study}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Strain: </b> <span *ngIf="sample.strain">{{sample.strain.name}}<i class="material-icons vertical-align-middle" (click)="openStrainDialog()">info</i></span>
              </div>
              <div class="col-md-4">
                <b>Strain Background:</b> {{sample.strainBackground}}
              </div>
              <div class="col-md-4">
                <b> Jax Registry Id: </b>  <a *ngIf="sample.jaxRegistryId" [href]="jaxRegistryUrl + sample.jaxRegistryId" target="_blank">{{sample.jaxRegistryId}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Chromosome Linkage:</b> {{sample.chrLinkage}}
              </div>
              <div class="col-md-4">
                <b>Inheritance:</b> {{sample.inheritance}}
              </div>
              <div class="col-md-4">
                <b>Genotype: </b> {{sample.genotype}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Phenotype Status:</b> {{sample.phenotypeStatus}}
              </div>
              <div class="col-md-4">
                <b>Reference Genome:</b> {{sample.refGenome}}
              </div>
              <div class="col-md-4">
                <b>New Mutant Id:</b> {{sample.newMutantId}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Lims Sample Id:</b> {{sample.limsSampleId}}
              </div>
              <div class="col-md-4">
                <b>Platform:</b> {{sample.platform}}
              </div>
              <div class="col-md-4">
                <b>Principal Investigator:</b> {{sample.researcher}}
              </div>
            </div>
            </div>
            <div *ngIf="sample.sampleStats && sample.sampleStats.length > 0" class="row">
              <div class="col-md-12">
                <h4>Sample Stats
                  <i *ngIf="! expandStatStatus" class="material-icons vertical-align-middle" (click)="expandStats(true)">keyboard_arrow_down</i>
                  <i *ngIf="expandStatStatus" class="material-icons vertical-align-middle" (click)="expandStats(false)">keyboard_arrow_up</i>
                </h4>
              </div>
            </div>
            <div *ngIf="expandStatStatus">
                <div *ngFor="let stats of sample.sampleStats" class="row">
                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <mat-label>{{stats.type}}</mat-label>
                      <textarea matInput rows="10" cols="120" [value]="stats.statsTxt" disabled="true"></textarea>
                    </mat-form-field>
                  </div>
                </div>
            </div>

            <div class="row">
                  <div class="col-md-12">
                    <h4>Variant Summary</h4>
                  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <table class="table table-hover">
                <thead class="text-dark">
                    <th>Type</th>
                    <th>Total Count</th>
                    <th>Low Frequency (< 1%)  </th>
                    <th>Likely Pathogenic</th>
                    <th>Confirmed Mutations</th>
                    </thead>
                    <tbody>
                    <tr>
                      <td>SNPs & Indels</td>
                      <td><a [routerLink]="['/snpsIndels', {sample: sample.sampleId} ]">{{sample.totalVarCount}}</a></td>
                      <td><a [routerLink]="['/snpsIndels', {sample: sample.sampleId, rareVar: true} ]">{{sample.rareVarCount}}</a></td>
                      <td><a [routerLink]="['/snpsIndels', {sample: sample.sampleId, candidateVar: true} ]">{{sample.candidateVarCount}}</a></td>
                      <td><a [routerLink]="['/snpsIndels', {sample: sample.sampleId, confirmedVar: true} ]">{{sample.confirmedVarCount}}</a></td>
                    </tr>
                    <tr>
                      <td>Structural Variants</td>
                      <td><a [routerLink]="['/structuralVar', {sample: sample.sampleId} ]">{{sample.totalSvVarCount}}</a></td>
                      <td><a [routerLink]="['/structuralVar', {sample: sample.sampleId, rareVar: true} ]">{{sample.rareSvVarCount}}</a></td>
                      <td><a [routerLink]="['/structuralVar', {sample: sample.sampleId, candidateVar: true} ]">{{sample.candidateSvVarCount}}</a></td>
                      <td><a [routerLink]="['/structuralVar', {sample: sample.sampleId, confirmedVar: true} ]">{{sample.confirmedSvVarCount}}</a></td>
                    </tr>
                    </tbody>
                  </table>
            </div>


            <mat-tab-group>
              <mat-tab label="Phenotypes">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <table style="width: 100%" class="table" mat-table class="table-hover" [dataSource]="phenotypeDataSource">
                        <!-- Sample Id Column -->
                        <ng-container matColumnDef="mpTermIdentifier">
                          <th mat-header-cell *matHeaderCellDef> Identifier </th>
                          <td mat-cell *matCellDef="let element"> <a *ngIf="element.mpTermIdentifier" [href]="jaxPhenotypeURL + element.mpTermIdentifier" target="_blank">{{element.mpTermIdentifier}}</a> </td>
                        </ng-container>
                        <ng-container matColumnDef="mpTermName">
                          <th mat-header-cell *matHeaderCellDef> Term Name</th>
                          <td mat-cell *matCellDef="let element"> {{element.mpTermName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="samples">
                          <th mat-header-cell *matHeaderCellDef> Samples </th>
                          <td mat-cell *matCellDef="let element"> {{element.samples.length}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Files">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <table style="width: 100%" class="table" mat-table class="table-hover" [dataSource]="fileDataSource">
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let element"> <span style="float: right"><mat-icon (click)="downloadFile(element.id)" matTooltip="Download">save_alt</mat-icon></span></td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="fileTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: fileTableColumns;"></tr>
                    </table>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>

