
.table thead th {
  font-size: 0.8rem;
}

.vertical-align-middle {
  vertical-align: middle;
}

.detail-head{
  //padding-left:5em;
  background-color:aliceblue;
}

h4{
  color: darkblue;
}

.full-width {
  width: 100%;
}

.mat-input-element:disabled {
  color: #333333;
}
