
.table-responsive{
  padding-top: 0px;
  padding-left: 0px;
  max-height: 700px;
}

th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  font-size: small;
  font-weight: 500;
}

th.rotated-text {
  height: 150px;
  white-space: nowrap;
  padding: 0 !important;
  vertical-align: bottom;
  font-size: small;
  font-weight: 500;
  text-align: center;
  text-align: -webkit-center;
}

th.colRegHeader {
  font-size: small;
  font-weight: 500;
  vertical-align: bottom;
  text-align: center;
}



th.rotated-text > div {
  transform:
          translate(5px, 0px)
          rotate(270deg);
  width: 30px;
}

th.rotated-text > div > span {
  padding: 5px 10px;
}

td {
  text-align: center;
  font-weight: 500;
  //color: blueviolet;
  border: 1px solid #ccc;
}

th {
  padding: 5px 10px;
}

th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  position: sticky;
  left: 0;
  background: white;
  vertical-align: middle;
}

/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 2;
  background: white
}

.yellow {
  color: #212529;
  background: #ffee58;
  font-weight: 700;
}

.red {
  color: #212529;
  background: #f77066;
  font-weight: 700;
}

.blue {
  color: #212529;
  background: #40c4ff;
  font-weight: 700;
}

.green {
  color: #212529;
  background: #1de9b6;
  font-weight: 700;
}

.other {
  color: blueviolet;
  font-weight: 700;
}

.cardSearchBox {
  background: #fafafa;
}