<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-12">
                    <span class="pull-right">
                      <a mat-button class="nav-link active" (click)="showSNPIndels()">
                        <i class="material-icons">tune</i> View SNP/INDELs results
                        <div class="ripple-container"></div>
                      </a>
                      <a mat-button class="nav-link active" [disabled]="! enableFilters" (click)="showFilters()">
                        <i class="material-icons">filter_list</i> Filters
                        <div class="ripple-container"></div>
                      </a>
                      <a mat-button class="nav-link active" (click)="openHelpDialog()">
                        <i class="material-icons">help_outline</i> Help
                        <div class="ripple-container"></div>
                      </a>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="cardSearchBox">
                      <div class="card-body">

                        <div class="row">
                          <div class="col-md-12">
                            <app-search-box [searchType]="'variant-strain'" [(showFilters)]="showVarFilters" [showHint]="false"
                              (selectedSearchItem)="onSearchCriteriaChange($event)" [resetSearch]="false"></app-search-box>
                            <!--<app-search-box [searchType]="searchOption" [showHint]="true" (selectedSearchItem)="onSelectedItem($event)"></app-search-box>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card-body table-responsive scrolltable">
                  <table *ngIf="displayedColumns?.length > 0 && dataSource?.length > 0" class="table table-hover">
                    <thead class="membership-tiers text-left">
                      <tr>
                        <th></th>
                        <th class="colRegHeader">Gene</th>
                        <th class="colRegHeader">Type</th>
                        <th *ngFor="let header of displayedColumns" class="rotated-text" scope="col">
                          <div><span>{{header.strain}}</span></div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let variant of dataSource">
                        <th class="row-header">{{variant.variant}}</th>
                        <td>{{variant.gene}}</td>
                        <td>{{variant.type}}</td>
                        <td *ngFor="let strain of displayedColumns"
                          [class.yellow]="variant.strainMap.get(strain.id) === 'T'"
                          [class.blue]="variant.strainMap.get(strain.id) === 'A'"
                          [class.red]="variant.strainMap.get(strain.id) === 'C'"
                          [class.green]="variant.strainMap.get(strain.id) === 'G'"
                          [class.other]="variant.strainMap.get(strain.id).length == 0 || variant.strainMap.get(strain.id).length > 1">
                          {{variant.strainMap.get(strain.id)}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <mat-paginator #varPaginator [length]="pageLength" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="doPageChange($event)">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>