<div id="criteria-box" >
<app-search-box [searchType]="searchType" (selectedSearchItem)="onSelectedItem($event)"></app-search-box>

<mat-card *ngIf="searchCriteriaItems.length > 0">

  <mat-chip-list #chipList aria-label="Search criteria selection">
    <mat-chip
      *ngFor="let searchTerm of searchCriteriaItems"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(searchTerm)">
      {{searchTerm.selectedType}} : {{searchTerm.displayedValue}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

  </mat-chip-list>

</mat-card>
</div>
