<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <b>Gene: </b> {{variant.gene.symbol}} <span *ngIf="variant.gene.symbol"><i class="material-icons vertical-align-middle" (click)="openGeneDialog()">info</i></span>
            </div>
            <div class="col-md-4">
              <b>Chromosome:</b> {{variant.chr}}
            </div>
            <div class="col-md-4">
              <b>Position: </b> {{variant.pos}} ({{variant.assembly}})
            </div>
            <!--<div class="col-md-4">-->
              <!--<b>dbSNPId: </b> <span *ngFor="let snpid of variant.dbSNPId.split(';')"> <a *ngIf="snpid && snpid != '.'" [href]="dbSNPUrl + snpid" target="_blank">{{snpid}}, </a></span>-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="a"><b>Ref. Allele:</b> {{variant.ref}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="a"><b>Allele: </b> {{variant.alt}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Sample Count: </b> {{variant.sampleCount}}
            </div>
            <div class="col-md-4">
              <b>Proportion of Variant Occurrence: </b> {{variant.varFreq}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Sample: </b> {{variant.sample.sampleId}} <span *ngIf="variant.sample"><i class="material-icons vertical-align-middle" (click)="openSampleDialog()">info</i></span>
            </div>
            <div class="col-md-4">
              <b>Study: </b> {{variant.sample.study}}
            </div>
            <div class="col-md-4">
              <b>Strain: </b> <span *ngIf="variant.sample.strain">{{variant.sample.strain.name}}<i class="material-icons vertical-align-middle" (click)="openStrainDialog()">info</i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>dbSNPId: </b> <span *ngFor="let snpid of variant.dbSNPId.split(';')"> <a *ngIf="snpid && snpid != '.'" [href]="dbSNPUrl + snpid" rel="noopener noreferrer" target="_blank">{{snpid}}, </a></span>
            </div>
          </div>
          <div class="row detail-anno1-title">
            <div class="col-md-12">
              <b><u>SNP Effect Annotations:</u></b>
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-4">
              <b>Effect: </b> {{variant.snpEffEffect}}
            </div>
            <div class="col-md-4">
              <b>Functional Class: </b> {{variant.snpEffFunctionalClass}}
            </div>
            <div class="col-md-4">
              <b>Impact: </b> {{variant.snpEffImpact}}
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-4">
              <b>Exon #: </b> {{variant.snpEffExonId}}
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-12">
              <p><b>Codon Change: </b> {{variant.snpEffCodonChange}}</p>
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-12">
              <p><b>Amino Acid Change: </b> {{variant.snpEffAminoAcidChange}}</p>
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-4">
              <b>Transcript Id: </b> <a *ngIf="variant.snpEffTranscriptId" [href]="ensemblTransUrl + variant.snpEffTranscriptId" rel="noopener noreferrer" target="_blank">{{variant.snpEffTranscriptId}}</a>
            </div>
            <div class="col-md-4">
              <b>Gene Name:</b> {{variant.snpEffGeneName}}
            </div>
            <div class="col-md-4">
              <b>Gene Biotype: </b> {{variant.snpEffGeneBiotype}}
            </div>
          </div>
          <div class="row detail-anno1-title">
            <div class="col-md-12">
              <b><u>Analysis: </u></b>
            </div>
          </div>
          <div class="row detail-anno1">
            <div class="col-md-4">
              <b>Low Frequency Variant (<= 1%): </b> <span>{{(variant.varFreq <= 0.01)?'Yes':'No'}}</span>
            </div>
            <div class="col-md-4">
              <b>Mutant Candidate (likely pathogenic): </b> <span>{{(variant.mutantCandidate === 'Y')?'Yes':'Unknown'}}</span>
            </div>
            <div class="col-md-4">
              <b>Annotation: </b> <span>{{variant.annotatedMutation?variant.annotatedMutation.status:'None'}}</span><!--<i class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog()">create</i></span>-->
              <!--<span *ngIf="variant.annotatedMutation">{{variant.annotatedMutation.status}} </span> <span *ngIf="!variant.annotatedMutation">None </span> <span *ngIf="variant.mutantCandidate === 'Y' "><i class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog()">create</i></span>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

