.detail-anno1{
  padding-left:5em;
  //background-color:aliceblue;
}
.detail-anno1-title{
  //background-color:aliceblue;
}

.vertical-align-middle {
  vertical-align: middle;
}

p{
  margin:0px;
}

div.a {
  display: inline-block;
  word-break: break-all;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}