<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">

        <div class="card-body">
          <div class="row detail-anno1-title">
            <div class="col-md-12">
              <h4 style="color: darkblue;">Properties</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Gene: </b> {{variant.gene.symbol}} <span *ngIf="variant.gene.symbol"><i style="cursor: pointer;"   class="material-icons vertical-align-middle" (click)="openGeneDialog()" matTooltip="Gene details">info</i></span>
            </div>
            <div class="col-md-4">
              <b>Chromosome:</b> {{variant.chr}}
            </div>
            <div class="col-md-4">
              <b>Position: </b> {{variant.pos}} ({{variant.assembly}})
            </div>
            <!--<div class="col-md-4">-->
              <!--<b>dbSNPId: </b> <span *ngFor="let snpid of variant.dbSNPId.split(';')"> <a *ngIf="snpid && snpid != '.'" [href]="dbSNPUrl + snpid" target="_blank">{{snpid}}, </a></span>-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="a"><b>Ref. Allele:</b> {{variant.ref}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="a"><b>Allele: </b> {{variant.alt}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Sample: </b> {{variant.sample.sampleId}} <span *ngIf="variant.sample"><i style="cursor: pointer;" class="material-icons vertical-align-middle" (click)="openSampleDialog()" matTooltip="Sample details">info</i></span>
            </div>
            <div class="col-md-4">
              <b>Study: </b> {{variant.sample.study}}
            </div>
            <div class="col-md-4">
              <b>Strain: </b> <span *ngIf="variant.sample.strain">{{variant.sample.strain.name}}<i style="cursor: pointer;" class="material-icons vertical-align-middle" (click)="openStrainDialog()" matTooltip="Strain details">info</i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>dbSNPId: </b> <span *ngFor="let snpid of variant.dbSNPId.split(';')"> <a *ngIf="snpid && snpid != '.'" [href]="dbSNPUrl + snpid" rel="noopener noreferrer" target="_blank">{{snpid}}, </a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Allele Count: </b> {{variant.alleleCount}}
            </div>
            <div class="col-md-4">
              <b>Allele Frequency: </b> {{variant.alleleFrequency}}
            </div>
            <div class="col-md-4">
              <b>Read Depth: </b> {{variant.readDepth}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Quality: </b> {{variant.qual}}
            </div>
            <div class="col-md-4">
              <b>Filter: </b> {{variant.filter}}
            </div>
            <div class="col-md-4">
              <b>Seq. Source: </b> {{(variant.seqSource === 'WGS')?'Whole Genome (WGS)' : (variant.seqSource === 'WES')? 'Whole Exome (WES)': ''}}
            </div>
          </div>
          <div class="row detail-anno1-title">
            <div class="col-md-12">
              <br>
              <h4 style="color: darkblue">SNP Effect Annotations:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Effect: </b> {{variant.snpEffEffect}}
            </div>
            <div class="col-md-4">
              <b>Functional Class: </b> {{variant.snpEffFunctionalClass}}
            </div>
            <div class="col-md-4">
              <b>Impact: </b> {{variant.snpEffImpact}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Exon #: </b> {{variant.snpEffExonId}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><b>Codon Change: </b> {{variant.snpEffCodonChange}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><b>Amino Acid Change: </b> {{variant.snpEffAminoAcidChange}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Transcript Id: </b> <a *ngIf="variant.snpEffTranscriptId" [href]="ensemblTransUrl + variant.snpEffTranscriptId" rel="noopener noreferrer" target="_blank">{{variant.snpEffTranscriptId}}</a>
            </div>
            <div class="col-md-4">
              <b>Gene Name:</b> {{variant.snpEffGeneName}}
            </div>
            <div class="col-md-4">
              <b>Gene Biotype: </b> {{variant.snpEffGeneBiotype}}
            </div>
          </div>
          <div class="row detail-anno1-title">
            <div class="col-md-12">
             <br>
              <h4 style="color:darkblue">Analysis</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Sample Count: </b> {{variant.sampleCount}}
            </div>
            <div class="col-md-4">
              <b>Proportion of Variant Occurrence: </b> {{variant.varFreq}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Low Frequency Variant (<= 1%): </b> <span>{{(variant.varFreq <= 0.01)?'Yes':'No'}}</span>
            </div>
            <div class="col-md-4">
              <b>Mutant Candidate (likely pathogenic): </b> <span>{{(variant.mutantCandidate === 'Y')?'Yes':'Unknown'}}</span>
            </div>
          </div>
            <!--<div class="col-md-4">-->
              <!--<b>Annotation: </b> <span>{{variant.variantAnnotation?variant.variantAnnotation.status:'None'}}</span>&lt;!&ndash;<i class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog()">create</i></span>&ndash;&gt;-->
              <!--<span *ngIf="variant.annotatedMutation">{{variant.annotatedMutation.status}} </span>-->
              <!--<span *ngIf="!variant.annotatedMutation">None </span>-->
              <!--<span><i class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog()">create</i></span>-->
              <!--&lt;!&ndash;<span *ngIf="variant.mutantCandidate === 'Y' "><i class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog()">create</i></span>&ndash;&gt;-->
            <!--</div>-->
            <div class="row detail-anno1-title">
              <div class="col-md-12">
                <br>
                <span><h4 style="color:darkblue">Annotations
                  <button mat-icon-button [disabled]="! isUserLoggedIn || variant.variantAnnotations.length > 0" (click)="openAnnotatedVarDialog(null)" matTooltip="Add annotation">
                        <mat-icon  style="cursor: pointer;">add</mat-icon>
                  </button></h4></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                  <table style="width: 100%" class="table" mat-table class="table-hover" [(dataSource)]="variant.variantAnnotations" #annoTable>
                    <ng-container matColumnDef="annotation">
                      <th mat-header-cell *matHeaderCellDef> Annotation </th>
                      <td mat-cell *matCellDef="let annotation"> {{annotation.annotation}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status</th>
                      <td mat-cell *matCellDef="let annotation"> {{annotation.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="updatedBy">
                      <th mat-header-cell *matHeaderCellDef> Updated By </th>
                      <td mat-cell *matCellDef="let annotation"> {{annotation.updateBy}} </td>
                    </ng-container>
                    <ng-container matColumnDef="updateDate">
                      <th mat-header-cell *matHeaderCellDef> Update Date </th>
                      <td mat-cell *matCellDef="let annotation"> {{annotation.updateDate | date:'shortDate'}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="notes">
                      <th mat-header-cell *matHeaderCellDef> Notes </th>
                      <td mat-cell *matCellDef="let annotation"> {{annotation.notes}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let annotation">
                        <button mat-icon-button [disabled]="! isUserLoggedIn" (click)="openAnnotatedVarDialog(annotation)" matTooltip="Edit annotation">
                          <mat-icon  style="cursor: pointer;">create</mat-icon>
                        </button>
                        <!--<i disabled="isUserLoggedIn" class="material-icons vertical-align-middle" (click)="openAnnotatedVarDialog(annotation)">create</i>  -->
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <!--<div *ngFor="let annotation of variant.variantAnnotations" class="col-md-4">-->
                        <!--<span>{{annotation.annotation}} , {{annotation.status}}, {{annotation.updatedBy}}, {{annotation.udadateDate}}</span>-->
                        <!--<span>{{annotation.notes}}</span>-->
                  <!--</div>-->

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

