<input type="file" #filesUploadBtn style="display: none" (change)="onFilesAdded()" />


<div id="uploadDialog" class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">

  <h1 mat-dialog-title>{{titleText}}</h1>
  <div>
    <div class="row">
      <div class="col-md-6">
          <div *ngIf="fileType === 'vcf'">
            <mat-form-field>
              <mat-label>Sequence Type</mat-label>
              <mat-select>
                <mat-option  (onSelectionChange)="setSequenceSource('WES', $event)" value="WES">Whole Exome</mat-option>
                <mat-option  (onSelectionChange)="setSequenceSource('WGS', $event)"value="WGS">Whole Genome</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>
      <div class="col-md-6">
        <!--<button [disabled]="pedingSeqSource || uploading || uploadSuccessful" mat-raised-button class="btn btn-danger pull-right"   (click)="addFiles()">-->
          <!--Select Files-->
        <!--</button>-->
        <span class="pull-right">
        <button [disabled]="pedingSeqSource || uploading || uploadSuccessful" class="blu-btn pullright" mat-raised-button (click)="addFiles()">
          Select Files
        </button>
        </span>
      </div>
    </div>
  </div>


  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress.percentDone | async"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>



  <!-- Info -->

  <mat-list *ngIf="allProgressInfo && allProgressInfo.length > 0">
    <h3 mat-subheader>Uodates</h3>
    <mat-list-item *ngFor="let info of allProgressInfo">
      <mat-icon mat-list-icon>info</mat-icon>
      <p id="info-message" mat-line>{{info}}</p>
    </mat-list-item>
  </mat-list>


  <!-- Errrors -->

  <mat-form-field *ngIf="allProgressErrors && allProgressErrors.length > 0" class="full-width">
    <mat-label>Errors</mat-label>
    <textarea matInput rows="10" cols="120" [value]="getAllprogressErrors()" disabled="true"></textarea>
  </mat-form-field>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="files.size > 0" mat-raised-button class="blu-btn" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
  </mat-dialog-actions>

</div>



