.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.example-container {
    height: 800px;
    overflow: auto;
}

.mat-table {
    /*overflow: auto;*/
    width: 100%;
    max-height: 100px;
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//.card{
//    background: whitesmoke;
//}