
<div class="main-content">
  <div class="container-fluid">
    <!--<div class="row">-->
      <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<span><button mat-raised-button class="btn btn-danger pull-right" (click)="openUploadDialog()">Upload Files</button></span>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <!--Card Body-->
            <div class="card-body table-responsive">
              <!-- tool bar-->
              <div class="row">
                <div class="col-md-12">
                 <span class="pull-right">
                      <a mat-button class="nav-link active" (click)="openSampleUploadDialog()">
                                          <i class="material-icons">add</i> Add Samples
                                          <div class="ripple-container"></div>
                                      </a>
                    <a mat-button class="nav-link active" (click)="openVcfUploadDialog()">
                                        <i class="material-icons">cloud_upload</i> Upload VCF Files
                                        <div class="ripple-container"></div>
                    </a>
                   <!--<button mat-raised-button class="btn btn-blue" (click)="openUploadDialog()">-->
                                  <!--<i class="material-icons">cloud_upload</i> Add VCF Files-->
                                  <!--<div class="ripple-container"></div>-->
                                  <!--</button>-->
                 </span>
                </div>
              </div>

              <!-- tabs -->
              <div class="row">
                <div class="col-md-12">
                      <mat-tab-group [selectedIndex]="selectedTab">
                        <mat-tab label="Uploaded Files">
                          <!--<div>-->
                              <!--<span><button mat-raised-button class="btn btn-danger" (click)="openUploadDialog()">Upload Files</button></span>-->
                          <!--</div>-->

                          <div *ngIf="snpVcfFiles?.length > 0" class="card">
                            <div class="card-body">
                              <p><b>SNP/INDEL Variant Sample VCF Files</b></p>
                              <table class="table">
                                <tbody>
                                <tr *ngFor="let file of snpVcfFiles">
                                  <td >
                                      <mat-checkbox (change)="selectSNPFile($event.checked, file.name)" value=""></mat-checkbox>
                                  </td>
                                  <td>
                                      <p><b>ID: </b>{{file.id}} <b>Name: </b>{{file.name}}</p>
                                  </td>
                                  <td>
                                      <span style="float: right">
                                        <mat-icon (click)="downloadFile(file.id)" [matTooltipPosition]="'above'" matTooltip="download">save_alt</mat-icon>
                                        <mat-icon (click)="deleteFile(file.id)" [matTooltipPosition]="'above'" matTooltip="delete" >delete_forever</mat-icon>
                                      </span>
                                  </td>
                                </tr>
                                </tbody>
                              </table>

                              <div *ngIf="files?.length > 0">
                                <p>To submit the files for data upload and processing, please select the files and press the submit button</p>
                                <!--<span><button [disabled]="selectedSNPFiles.length <= 0" mat-raised-button class="btn btn-danger" (click)="submitSNPLoad()">Submit</button></span>-->

                              <!--<span><a mat-button [disabled]="selectedSNPFiles.length <= 0" class="nav-link active" (click)="submitSNPLoad()">-->
                                  <!--<i class="material-icons">check</i> Submit-->
                                  <!--<div class="ripple-container"></div>-->
                                  <!--</a>-->
                              <!--</span>-->

                              <span><button [disabled]="selectedSNPFiles.length <= 0" mat-raised-button class="btn btn-blue" (click)="submitSNPLoad()">
                                <i class="material-icons">check</i> Submit
                                <div class="ripple-container"></div>
                                </button>
                              </span>
                              </div>

                            </div>
                          </div>

                          <div *ngIf="svVcfFiles?.length > 0" class="card">
                            <div class="card-body">
                              <p><b>Structural Variant Sample VCF Files</b></p>
                              <table class="table">
                                <tbody>
                                <tr *ngFor="let file of svVcfFiles">
                                  <td >
                                    <mat-checkbox (change)="selectSVFile($event.checked, file.name)" value=""></mat-checkbox>
                                  </td>
                                  <td>
                                    <p><b>ID: </b>{{file.id}} <b>Name: </b>{{file.name}}</p>
                                  </td>
                                  <td>
                                      <span style="float: right">
                                        <mat-icon (click)="downloadFile(file.id)" [matTooltipPosition]="'above'" matTooltip="download">save_alt</mat-icon>
                                        <mat-icon (click)="deleteFile(file.id)" [matTooltipPosition]="'above'" matTooltip="delete" >delete_forever</mat-icon>
                                      </span>
                                  </td>
                                </tr>
                                </tbody>
                              </table>

                              <div *ngIf="files?.length > 0">
                                <p>To submit the files for data upload and processing, please select the files and press the submit button</p>
                                <!--<span><button [disabled]="selectedSVFiles.length <= 0" mat-raised-button class="btn btn-danger" (click)="submitSVLoad()">Submit</button></span>-->
                              <!---->
                                <span><button [disabled]="selectedSVFiles.length <= 0" mat-raised-button class="btn btn-blue" (click)="submitSVLoad()">
                                  <i class="material-icons">check</i> Submit
                                  <div class="ripple-container"></div>
                                  </button>
                                </span>
                              </div>

                            </div>
                          </div>

                        </mat-tab>

                        <!-- pending files -->
                        <mat-tab label="Pending">

                          <mat-card  *ngFor="let file of pendingFiles">

                            <!--<span class="badge">{{file.id}} </span> {{file.name}}  <span style="float: right"><mat-icon (click)="downloadFile(file.id)">save_alt</mat-icon></span>-->
                            <b>ID: </b>{{file.id}} <b>Name: </b>{{file.name}}
                          </mat-card>

                        </mat-tab>

                        <mat-tab label="Processed Files">


                        <!-- processed files -->
                        <mat-card  *ngFor="let file of processedFiles">

                          <!--<span class="badge">{{file.id}} </span> {{file.name}}  <span style="float: right"><mat-icon (click)="downloadFile(file.id)">save_alt</mat-icon></span>-->
                          <b>ID: </b>{{file.id}} <b>Name: </b>{{file.name}}  <span style="float: right"><mat-icon (click)="downloadFile(file.id)">save_alt</mat-icon></span>
                        </mat-card>

                        </mat-tab>

                      </mat-tab-group>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>