<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <!--Card Body-->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-right">
                  <!--<a mat-button class="nav-link active" (click)="exportCSV()">-->
                  <!--<i class="material-icons">import_export</i> Export Results To CSV File-->
                  <!--<div class="ripple-container"></div>-->
                  <!--</a>-->
                  <a mat-button class="nav-link active" (click)="showStrainDistribution()">
                    <i class="material-icons">tune</i> View Strain Distribution
                    <!-- <mat-slide-toggle class="nav-link active" [color]="color" [checked]="checked" [disabled]="disabled" formControlName="viewStrainDistrib">
                      View Strain Distribution
                    </mat-slide-toggle> -->
                    <div class="ripple-container"></div>
                  </a>
                  <a mat-button class="nav-link active" [disabled]="! enableFilters" (click)="showFilters()">
                    <i class="material-icons">filter_list</i> Filters
                    <div class="ripple-container"></div>
                  </a>
                  <a mat-button class="nav-link active" (click)="openHelpDialog()">
                    <i class="material-icons">help_outline</i> Help
                    <div class="ripple-container"></div>
                  </a>
                </span>
              </div>
            </div>

            <!-- Search box -->
            <div class="row">
              <div class="col-md-12">
                <div class="cardSearchBox">
                  <div class="card-body">

                    <div class="row">
                      <div class="col-md-12">
                        <app-search-box [searchType]="'variant'" [(showFilters)]="showVarFilters" [showHint]="false"
                          (selectedSearchItem)="onSearchCriteriaChange($event)" [resetSearch]="false"></app-search-box>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <table #varTable mat-table class="table-hover" [dataSource]="varDataSource" matSort multiTemplateDataRows>

              <!-- Chormosome Column -->
              <ng-container matColumnDef="chr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Chr </th>
                <td mat-cell *matCellDef="let element"> {{element.chr}} </td>
              </ng-container>
              <ng-container matColumnDef="caid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MVAR id </th>
                <td mat-cell *matCellDef="let element"> {{element.canonVarIdentifier.caID}} </td>
              </ng-container>
              <!-- HGVS genomic -->
              <ng-container matColumnDef="hgvs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> HGVS </th>
                <td mat-cell *matCellDef="let element"> {{element.variantHgvsNotation}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gene </th>
                <td mat-cell *matCellDef="let element"> {{element.gene.symbol}} </td>
              </ng-container>

              <!-- Position Column -->
              <!-- <ng-container matColumnDef="pos">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container> -->
              <!-- Type Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="impact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Impact </th>
                <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
              </ng-container> -->
              <!--Filter Column -->
              <ng-container matColumnDef="functionalClassCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Consequence </th>
                <td mat-cell *matCellDef="let element">{{element.functionalClassCode}}</td>
              </ng-container>

              <!-- # samples with this variation -->
              <!--<ng-container matColumnDef="sampleCount">-->
              <!--<th mat-header-cell *matHeaderCellDef>Samples</th>-->
              <!--<td mat-cell *matCellDef="let element"> {{element.sampleCount}} </td>-->
              <!--</ng-container>-->

              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div *ngIf="element === expandedElement" class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div style="width: 100%">
                      <app-snp-indel-details [variant]="element"></app-snp-indel-details>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element" (click)="expandCollapse(element)">
              </tr>

              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            </table>

            <mat-paginator #varPaginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="doPageChange($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>