<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">


          <div class="card">
              <!--card header-->
              <!--<div class="card-header card-header-tabs card-header-danger">-->
                  <!--<span><b>Samples</b></span>-->
                  <!--<span>-->
                      <!--<a mat-button class="nav-link active" (click)="openUploadDialog()">-->
                                          <!--<i class="material-icons">add</i> Add Samples-->
                                          <!--<div class="ripple-container"></div>-->
                                      <!--</a>-->
                  <!--</span>-->
                  <!--<app-search-criteria-box searchType="sample" [searchCriteria]="currSearchParams" (searchCriteriaChange)="onSearchCriteriaChange($event)"></app-search-criteria-box>-->
              <!--</div>-->


              <!--Card Body-->
              <div class="card-body table-responsive">

                  <span class="pull-right">
                      <a mat-button class="nav-link active" (click)="openUploadDialog()">
                                          <i class="material-icons">add</i> Add Samples
                                          <div class="ripple-container"></div>
                                      </a>
                  </span>
                  <app-search-criteria-box searchType="sample" [searchCriteria]="currSearchParams" (searchCriteriaChange)="onSearchCriteriaChange($event)"></app-search-criteria-box>


                  <!--<table #sampleTable mat-table [dataSource]="dataSource">-->
                  <table mat-table class="table-hover" [dataSource]="dataSource" matSort multiTemplateDataRows>
                      <!-- Sample Id Column -->
                      <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.sampleId}} </td>
                      </ng-container>

                      <!-- Sample Name Column -->
                      <ng-container matColumnDef="sampleName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.sampleName}} </td>
                      </ng-container>

                      <!-- Study Column -->
                      <ng-container matColumnDef="study">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Study </th>
                          <td mat-cell *matCellDef="let element"> {{element.study}} </td>
                      </ng-container>

                      <!-- Strain Name -->
                      <ng-container matColumnDef="strainName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Strain Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.strain? element.strain.name: ''}} </td>
                      </ng-container>

                      <!-- Investigator Column -->
                      <!--<ng-container matColumnDef="researcher">-->
                          <!--<th mat-header-cell *matHeaderCellDef> Principal Investigator </th>-->
                          <!--<td mat-cell *matCellDef="let element"> {{element.researcher}} </td>-->
                      <!--</ng-container>-->

                      <!-- JAX Strain Id Column -->
                      <!--<ng-container matColumnDef="jaxStrainId">-->
                          <!--<th mat-header-cell *matHeaderCellDef> JAX Strain Id </th>-->
                          <!--<td mat-cell *matCellDef="let element"> {{element.jaxStrainId}} </td>-->
                      <!--</ng-container>-->

                      <!-- Chr linkage Status Column -->
                      <ng-container matColumnDef="chrLinkage">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chr linkage </th>
                      <td mat-cell *matCellDef="let element"> {{element.chrLinkage}} </td>
                      </ng-container>

                      <!-- Inheritance Status Column -->
                      <ng-container matColumnDef="inheritance">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inheritance </th>
                          <td mat-cell *matCellDef="let element"> {{element.inheritance}} </td>
                      </ng-container>

                      <!-- Genotype Status Column -->
                      <!--<ng-container matColumnDef="genotype">-->
                          <!--<th mat-header-cell *matHeaderCellDef> Genotype </th>-->
                          <!--<td mat-cell *matCellDef="let element"> {{element.genotype}} </td>-->
                      <!--</ng-container>-->



                      <!-- Strain of Origin  Column -->
                      <!--<ng-container matColumnDef="strainOfOrigin">-->
                          <!--<th mat-header-cell *matHeaderCellDef> Strain of Origin </th>-->
                          <!--<td mat-cell *matCellDef="let element"> {{element.strainOfOrigin}} </td>-->
                      <!--</ng-container>-->

                      <!-- Phenotypes Column -->
                      <ng-container matColumnDef="phenotypes">
                          <th mat-header-cell *matHeaderCellDef> Phenotypes </th>
                          <td mat-cell *matCellDef="let element"> {{element.phenotypes.length}} </td>
                      </ng-container>


                      <ng-container matColumnDef="expandedDetail">
                          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                              <div *ngIf="element === expandedElement" class="example-element-detail"
                                   [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                                  <div style="width: 100%">
                                      <app-sample-details [sample]="element"></app-sample-details>
                                  </div>
                              </div>
                          </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                          class="example-element-row"
                          [class.example-expanded-row]="expandedElement === element"
                          (click)="expandCollapse(element)">
                      </tr>
                      <!--<tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>-->

                      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                  </table>

                  <mat-paginator #paginator [length]="pageLength"
                                 [pageSize]="pageSize"
                                 [pageSizeOptions]="pageSizeOptions"
                                 (page)="doPageChange($event)">
                  </mat-paginator>

              </div>
          </div>

      </div>
    </div>
  </div>
</div>