.card {
    margin-top: 20px;
}

.learn-more-button {
    display: block;
    border: none;
    height: 50px;
    width: 250px;
    color:#fff;
    background: #3458bf;
}

.search{
    background: white;
}