<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <app-search-box [searchType]="searchOption"
                                                    (selectedSearchItem)="onSelectedItem($event)"></app-search-box>
                                <mat-hint>E.g.
                                        <a mat-button class="nav-link active"
                                           (click)="onSelectedItem({'selectedType':'gene','selectedValue':{'symbol':'Rock2'}, 'displayedValue':'Rock2'})">Rock2</a>
                                        |
                                        <a mat-button class="nav-link active"
                                           (click)="onSelectedItem({'selectedType':'strain','selectedValue':{'name':'C57BL/6NJ'}, 'displayedValue':'C57BL/6NJ'})">C57BL/6NJ</a>
                                        |
                                        <a mat-button class="nav-link active"
                                           (click)="onSelectedItem({'selectedType':'annotation','selectedValue':{'name':'intergenic_variant'}, 'displayedValue':'intergenic_variant'})">intergenic_variant</a>
                                </mat-hint>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Mouse Variation Allele Registry</h3>
                                <p>Model organisms are essential to
                                    understanding the biological and disease
                                    consequences of
                                    human
                                    genome variation.
                                    Bioinformatics
                                    resources
                                    that support meaningful
                                    comparisons of mouse and
                                    human genotype-
                                    to-phenotype data
                                    and knowledge
                                    are
                                    needed to support the
                                    translation
                                    from
                                    bench
                                    to bedside and back again. </p>
                                <button class="learn-more-button" mat-raised-button routerLink="/aboutUs">Learn More
                                    About MVAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">scatter_plot</i>
                        </div>
                        <p class="card-title">Exome Sequenced Samples:
                            <strong>{{mvarStats.exomeSamplesCount | number}}</strong></p>
                        <p class="card-title">Whole Genome Sequenced Samples:
                            <strong>{{mvarStats.wholeGenomeSamplesCount | number}}</strong></p>
                        <p class="card-title">SNP and Indel Variations:
                            <strong>{{mvarStats.snpIndelVariantsCount | number}}</strong></p>
                        <p class="card-title">Structural Variations:
                            <strong>{{mvarStats.svVariantsCount | number}}</strong></p>
                        <p class="card-title">Sequenced Strains With Medelian Diseases:
                            <strong>{{mvarStats.strainCount | number}}</strong></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">table_chart</i> MVAR database stats
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <h5 class="card-title">Mendelian Pathogenic Mutations</h5>
                        <p class="card-title">Confirmed SNP and Small Indel Mutations:
                            <strong>{{mvarStats.confirmedSnpIndelMutationCount | number}}</strong></p>
                        <p class="card-title">Confirmed Structural Mutations:
                            <strong>{{mvarStats.confirmedSVMutationCount| number}}</strong></p>
                        <p class="card-title">Likely Pathogenic SNP and Small Indel Mutations:
                            <strong>{{mvarStats.snpIndelCandidateCount | number}}</strong></p>
                        <p class="card-title">Likely Pathogenic Structural Mutations:
                            <strong>{{mvarStats.svMutantCandidateCount | number}}</strong></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">table_chart</i> Analysis Stats
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>