<div class="main-content">
    <div class="container-fluid">
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->

<!--                        <div class="row">-->
<!--                            <div class="col-md-1">-->
<!--                                <div class="logo-img">-->
<!--                                    <img src="/assets/img/progress.jpg" width="75"/>-->

<!--                                </div>-->
<!--                                &lt;!&ndash; <h3>Mouse Variation Registry</h3> &ndash;&gt;-->


<!--                            </div>-->
<!--                            <div class="col-md-11">-->
<!--                                <h4>The MVAR database is currently being updated to GRCm39 reference genome. </h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <br>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 search">
                                <h3>Search for mouse variants</h3>
                                <app-search-box [searchType]="searchOption" [showHint]="true"
                                    (selectedSearchItem)="onSelectedItem($event)" [resetSearch]="true"></app-search-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h3>Mouse Variation Registry</h3> -->
                                <p>Model organisms are essential to
                                    understanding the biological and disease
                                    consequences of
                                    human
                                    genome variation.
                                    Bioinformatics
                                    resources
                                    that support meaningful
                                    comparisons of mouse and
                                    human genotype-
                                    to-phenotype data
                                    and knowledge
                                    are
                                    needed to support the
                                    translation
                                    from
                                    bench
                                    to bedside and back again. </p>
                                <button class="learn-more-button" mat-raised-button routerLink="/about">Learn More
                                    About MVAR</button>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card ">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <h5 class="card-title">MVAR Data Source
                        </h5>
                        <p class="card-title">Currently the MVAR data consist of Mouse Variation data from the Sanger
                            Institute (https://www.sanger.ac.uk/data/mouse-genomes-project/),
                            which has been pre-processed and annotated (type of change, predicted functional
                            consequence) using a custom pipeline.
                            The database will be soon be updated with data from the Mouse Genome Informatics (Jax),
                            dbSNP (NCBI), the Mouse Mutant Repository database (Jax)
                            and the Diversity Outbred Database (Jax).</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">table_chart</i> MVAR Data source
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">scatter_plot</i>
                        </div>
                        <h5 class="card-title">MVAR database Stats
                        </h5>
                        <p class="card-title">MVAR Canonical Variants:
                            <strong>{{mvarStat.variantCanonIdentifierCount | number}}</strong>
                        </p>
                        <p class="card-title">Number of Strains:
                            <strong>{{mvarStat.strainAnalysisCount | number}}</strong>
                        </p>
                        <p class="card-title">Number of Genes:
                            <strong>{{mvarStat.geneAnalysisCount| number}}</strong>
                        <p class="card-title">Number of Transcripts:
                            <strong>{{mvarStat.transcriptAnalysisCount| number}}</strong>
                        </p>
                        <p class="card-title">Number of sources:
                            <strong>{{mvarStat.sourceCount | number}}</strong>
                        </p>
                        <p class="card-title">Number of assemblies:
                            <strong>{{mvarStat.assemblyCount | number}}</strong>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">table_chart</i> MVAR database stats
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>MVAR API details</h3>
                                <p>The Mouse Variation Registry supports querying/registration using its API. The
                                    registry can be searched using Endpoints,
                                    which enable users to search the database by Variant, Strain, Gene and Transcript.
                                    The MVAR API is based on HTTP/HTTPS requests. Three type of requests are supported
                                    by this API: <b>GET, POST and PUT</b>.
                                    All requests can be sent through any browser using the corresponding URL in the
                                    address bar of the browser. The response to
                                    a request is in the application/json format. To see a list of the available
                                    endpoints and their corresponding parameters,
                                    follow the link below.</p>
                                <button class="learn-more-button" mat-raised-button routerLink="/mvar-api">Learn More
                                    About MVAR API</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
